@import "utils/normalize";
@import "utils/reset";
@import "utils/flexbox";
@import "utils/breakpoints";
@import "utils/variables";

// Insert more styles below
body {
  background-color: $cc-dark;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.wx-calculator {
  @include flexbox;
  @include flex-direction(column);
  @include justify-content(space-between);
  align-items: center;
  height: 100%;
  font-family: $ff-body;
  color: $cc-light;
  @include bp-500 {
    font-size: 20px;
  }
  @include bp-800 {
    font-size: 25px
  }
  .wx-header{
    font-family: $ff-heading;
    font-weight: 400;
    padding: 1em 0.5em 0.5em;
    text-align: center;
    font-size: 2em;
    @include bp-500 {
      font-size: 2.5em;
    }
    @include bp-800 {
      font-size: 2em
    }
  }
  .wx-coinage {
    white-space: nowrap;
    width: 100%;
    margin: 0.75em 0;
    box-shadow: 10px 10px 20px rgba(20, 20, 20,1);
    @include bp-600 {
      width: 65vw;
      max-width: 100%;
    }
    @include bp-900 {
      width: 37vw;
      max-width: 570px;
    }
    .wx-coinage-header {
      text-align: center;
      margin: 0.75em 0;
      font-weight: bold;
    }
    &.wx-coppers{
      background-color: $cc-copper;
    }
    &.wx-silvers{
      background-color: $cc-silver;
    }
    &.wx-gold{
      background-color: $cc-gold;
    }
    .wx-coin {
      @include flexbox;
      @include flex-direction(row);
      @include justify-content(space-evenly);
      margin: 0.75em 0;
      label {
        line-height: 40px;
      }
      input, label {
        width: 5em;
      }
      input {
        padding: 5px;
        border-width: 1px;
        color: $cc-light;
        border-color: #CCCCCC;
        background-color: $cc-dark;
        border-style: solid;
        border-radius: 0px;
        box-shadow: 0px 0px 5px rgba(66,66,66,.75);
        text-shadow: 0px 0px 5px rgba(66,66,66,.75);
        &.focus {
          outline:none;
        }
        &.inexact {
          border-color: rgb(81, 0, 0);
        }
      }
    }
  }
}
