<!DOCTYPE html>
<html>
<head>
	<!-- jQuery CDN link -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<!-- Static link to javascript file -->
	<script type="text/javascript" src="static/js/scripts.js"></script>
	<!-- static link to custom site css -->
	<link rel="stylesheet" href="static/css/style.min.css"></style>

	<title>Hello world</title>
</head>
<body>
<section class="wx-calculator">
	<h1 class="wx-header">Westeros Currency Exchange</h1>
	<div class="wx-coinage wx-coppers">
		<div class="wx-coin wx-coin-input">
			<label for="copper-halfpenny">Copper Halfpenny</label>
			<input type="number" name="copper-halfpenny" id="wx-copper-halfpenny" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-penny">Copper Penny</label>
			<input type="number" name="copper-penny" id="wx-copper-penny" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-half-groat">Copper Half Groat</label>
			<input type="number" name="copper-half-groat" id="wx-copper-half-groat" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-groat">Copper Groat</label>
			<input type="number" name="copper-groat" id="wx-copper-groat" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-star">Copper Star</label>
			<input type="number" name="copper-star" id=wx-"copper-star" value="" placeholder="0">
		</div>
	</div>
	<div class="wx-coinage wx-silvers">
		<div class="wx-coin wx-coin-input">
			<label for="silver-stag">Silver Stag</label>
			<input type="number" name="silver-stag" id="wx-silver-stag" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="silver-moon">Silver Moon</label>
			<input type="number" name="silver-moon" id="wx-silver-moon" value="" placeholder="0">
		</div>
	</div>
	<div class="wx-coinage wx-gold">
		<div class="wx-coin wx-coin-input">
			<label for="gold-dragon">Gold Dragon</label>
			<input type="number" name="gold-dragon" id="wx-gold-dragon" value="" placeholder="0">
		</div>
	</div>
</section>


</body>
</html>
