<!DOCTYPE html>
<html>
<head>
	<!-- jQuery CDN link -->
	<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
	<!-- mathjs CDN link -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.8.0/math.min.js"></script>
	<!-- Google fonts -->
	<style>@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Hind');</style>
	<!-- Static link to javascript file -->
	<script type="text/javascript" src="static/js/scripts.js"></script>
	<!-- static link to custom site css -->
	<link rel="stylesheet" href="static/css/style.min.css" />
	<!-- favicon -->
	<link rel=icon href="static/images/favicon.png" sizes="16x16" type="image/png">


	<title>Westeros Coin Exchange</title>
</head>
<body>
<section class="wx-calculator">
	<h1 class="wx-header">Westeros Coin Exchange</h1>
	<div class="wx-coinage wx-coppers">
		<h3 class="wx-coinage-header">Copper</h3>
		<div class="wx-coin wx-coin-input">
			<label for="copper-halfpenny">Halfpenny</label>
			<input type="number" name="copper-halfpenny" id="wx-copper-halfpenny" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-penny">Penny</label>
			<input type="number" name="copper-penny" id="wx-copper-penny" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-half-groat">Half Groat</label>
			<input type="number" name="copper-half-groat" id="wx-copper-half-groat" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-groat">Groat</label>
			<input type="number" name="copper-groat" id="wx-copper-groat" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="copper-star">Star</label>
			<input type="number" name="copper-star" id=wx-"copper-star" value="" placeholder="0">
		</div>
	</div>
	<div class="wx-coinage wx-silvers">
		<h3 class="wx-coinage-header">Silver</h3>
		<div class="wx-coin wx-coin-input">
			<label for="silver-stag">Silver Stag</label>
			<input type="number" name="silver-stag" id="wx-silver-stag" value="" placeholder="0">
		</div>

		<div class="wx-coin wx-coin-input">
			<label for="silver-moon">Silver Moon</label>
			<input type="number" name="silver-moon" id="wx-silver-moon" value="" placeholder="0">
		</div>
	</div>
	<div class="wx-coinage wx-gold">
		<h3 class="wx-coinage-header">Gold</h3>
		<div class="wx-coin wx-coin-input">
			<label for="gold-dragon">Gold Dragon</label>
			<input type="number" name="gold-dragon" id="wx-gold-dragon" value="" placeholder="0">
		</div>
	</div>
</section>


</body>
</html>
