//FONT FAMILY
$ff-heading: 'Abril Fatface', cursive;
$ff-body: 'Hind', sans-serif;
//FONT SIZE
$fs-illegal:10px;
$fs-xxsmall:12px;
$fs-xsmall:13px;
$fs-small:14px;
$fs-regular:16px;
$fs-medium:18px;
$fs-large:20px;
$fs-xlarge:24px;
$fs-xxlarge:30px;
$fs-xxxlarge:36px;
$fs-supersize:40px;
//PALETTE
$black:#000;
$white:#fff;
$cc-dark:rgb(28, 28, 28);
$cc-light:rgb(232, 225, 146);
$cc-red:rgb(81, 0, 0);
$cc-copper: rgba(238, 146, 0, 0.2);
$cc-silver:rgba(130, 130, 130, 0.2);
$cc-gold:rgba(112, 99, 5, 0.2);
//VANILLA PALETTE
$c-glow: #19d4ff;
$c-warn: rgb(150, 240, 255);
$c-alert: #ff1919;

$font-highlight: rgba(0,142,198,1);
